---
import { getCollection } from 'astro:content';
import { getAlbumImages } from '../../utils/albums';
import { Image } from 'astro:assets';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { THEME, SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

export async function getStaticPaths() {
  const albums = await getCollection('albums');

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id
      },
      props: {
        album
      }
    };
  });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<!doctype html>
<html lang="en" data-theme={THEME}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Header />
  <div class="flex-1 flex-col min-h-screen text-center my-16 mb-32">
    <h1 class="text-3xl xl:text-6xl font-bold">
      {album.data.title}
    </h1>
    <h3 class="text-xl xl:text-3xl font-bold">
      {album.data.date}
    </h3>
    <p class="text-lg xl:text-2xl my-4">
      {album.data.description}
    </p>
    <div
      class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5"
    >
      {
        images.map((image) => (
          <>
            <label for={`${image.src}-modal`}>
              <Image
                src={image}
                alt={`Image from ${album.data.title} album`}
                format="avif"
                quality={50}
                class="rounded mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
                loading="lazy"
              />
            </label>
            <input
              type="checkbox"
              id={`${image.src}-modal`}
              class="modal-toggle"
            />
            <div class="modal" role="dialog">
              <div class="modal-box w-11/12 max-w-5xl place-content-center p-6">
                <Image
                  src={image}
                  alt={`Image from ${album.data.title} album`}
                  format="avif"
                  quality={100}
                  class="rounded border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
                  loading="lazy"
                />
              </div>
              <label class="modal-backdrop" for={`${image.src}-modal`}>
                Close
              </label>
            </div>
          </>
        ))
      }
    </div>
    <p class="text-lg my-4 text-center">
      <a href="/photography/" class="text-black hover:underline">Go back →</a>
    </p>
  </div>
  <Footer />
</html>
